<div class="w-screen overflow-hidden h-screen flex flex-col items-center">
  <div class="navbar self-start bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">Administrador De Clientes</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a routerLink="list">Listar</a></li>
        <li><a routerLink="add-client">Registrar</a></li>
      </ul>
    </div>
  </div>
  <div class="mt-10">
    <router-outlet></router-outlet>
  </div>
</div>
